@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til FDF´s administrative lodseddelsystem</h1>
    <p>Smutvej til FDF´s officielle hjemmeside <a href="https://fdf.dk/">https://fdf.dk/</a>.</p>
</div>


